@model IEnumerable<HotelReservation.Entities.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="roomTable" class="table">
    <thead>
        <tr>
            <th>
                Room Name
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Cost
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="/js/roomTable.js"></script>
}